.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar_container_title {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
  }
  
  .navbar_buttons {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
  